section.all-news
  ._container.all-news__container

    h2.all-news__title.title.
      Все новости

    nav.all-news__breadcrumbs.breadcrumbs
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a.breadcrumbs__link(href='#') Главная
        li.breadcrumbs__item
          a.breadcrumbs__link.breadcrumbs__link--active(href='#') Новости

    .all-news__inner 
      button.all-news__calendar.calendar#calendar-btn
        .calendar__icon
          svg.i-link(width="28" height="28" aria-hidden="true")
            use(xlink:href='img/icons/icons.svg#calendar')
        //- .all-news__calendar#calendar-input-div
        .calendar__container
          #calendar-input-div 
          #calendar
        .calendar__arrow
          svg.i-link(width="11" height="11" aria-hidden="true")
            use(xlink:href='img/icons/icons.svg#Arrow')

      x-selectmenu.all-news__select.select
        x-option(selected) Выбрать рубрику
        x-option Медицина
        x-option Общество
        x-option Коммуналка
        x-option Политика
        x-option Спорт
        x-option Вектор развития

    .all-news__items
      article.all-news__item.item-all-news
        img.item-all-news__img(src="img/img4.jpg" alt="")
        .item-all-news__inner
          a.item-all-news__tag.tag(href="#")  Коммуналка
          time.item-all-news__date.date(datetime="2021-02-01") 02/01/2021
        a.item-all-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
        a.item-all-news__icon(href="#") 
          svg.i-link(width="28" height="28" aria-hidden="true")
            use(xlink:href='img/icons/icons.svg#Link')

      article.all-news__item.item-all-news
        img.item-all-news__img(src="img/img4.jpg" alt="")
        .item-all-news__inner
          a.item-all-news__tag.tag(href="#")  Коммуналка
          time.item-all-news__date.date(datetime="2021-02-01") 02/01/2021
        a.item-all-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
        a.item-all-news__icon(href="#") 
          svg.i-link(width="28" height="28" aria-hidden="true")
            use(xlink:href='img/icons/icons.svg#Link')

      article.all-news__item.item-all-news
        img.item-all-news__img(src="img/img4.jpg" alt="")
        .item-all-news__inner
          a.item-all-news__tag.tag(href="#")  Коммуналка
          time.item-all-news__date.date(datetime="2021-02-01") 02/01/2021
        a.item-all-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
        a.item-all-news__icon(href="#") 
          svg.i-link(width="28" height="28" aria-hidden="true")
            use(xlink:href='img/icons/icons.svg#Link')

      article.all-news__item.item-all-news
        img.item-all-news__img(src="img/img4.jpg" alt="")
        .item-all-news__inner
          a.item-all-news__tag.tag(href="#")  Коммуналка
          time.item-all-news__date.date(datetime="2021-02-01") 02/01/2021
        a.item-all-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
        a.item-all-news__icon(href="#") 
          svg.i-link(width="28" height="28" aria-hidden="true")
            use(xlink:href='img/icons/icons.svg#Link')

      article.all-news__item.item-all-news
        img.item-all-news__img(src="img/img4.jpg" alt="")
        .item-all-news__inner
          a.item-all-news__tag.tag(href="#")  Коммуналка
          time.item-all-news__date.date(datetime="2021-02-01") 02/01/2021
        a.item-all-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
        a.item-all-news__icon(href="#") 
          svg.i-link(width="28" height="28" aria-hidden="true")
            use(xlink:href='img/icons/icons.svg#Link')

      article.all-news__item.item-all-news
        img.item-all-news__img(src="img/img4.jpg" alt="")
        .item-all-news__inner
          a.item-all-news__tag.tag(href="#")  Коммуналка
          time.item-all-news__date.date(datetime="2021-02-01") 02/01/2021
        a.item-all-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
        a.item-all-news__icon(href="#") 
          svg.i-link(width="28" height="28" aria-hidden="true")
            use(xlink:href='img/icons/icons.svg#Link')

      article.all-news__item.all-news__item_wide.item-all-news.item-all-news_wide

        img.item-all-news__img(src="img/img4.jpg" alt="")
        .item-all-news__inner
          a.item-all-news__tag.tag(href="#")  Коммуналка
          time.item-all-news__date.date(datetime="2021-02-01") 02/01/2021
        a.item-all-news__lead.lead(href="#") Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля

        p.item-all-news__text.
          Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят...

        a.item-all-news__icon(href="#") 
          svg.i-link(width="28" height="28" aria-hidden="true")
            use(xlink:href='img/icons/icons.svg#Link')

    .all-news__pagination.pagination
      a.pagination__link.pagination__link--prev(href='#') 
        svg.i-link(width="17" height="15" aria-hidden="true")
          use(xlink:href='img/icons/icons.svg#Link')
      a.pagination__link.pagination__link--page.pagination__link--active(href='#') 1
      a.pagination__link.pagination__link--page(href='#') 2
      a.pagination__link.pagination__link--page(href='#') 3
      a.pagination__link.pagination__link--page(href='#') 4
      .
        ...
      a.pagination__link.pagination__link--page(href='#') 134
      a.pagination__link.pagination__link--next(href='#')   
        svg.i-link(width="17" height="15" aria-hidden="true")
          use(xlink:href='img/icons/icons.svg#Link')




