section.article
	article.article__container._container
		img.article__img(src="img/img1.jpg" alt="alt")

		.article__tag.tag Общество
		h2.article__title.
			Гонка сильнейших. На стадионе имени Светланы Ишмуратовой стартовал Чемпионат по биатлону
		a.article__link.link_border(href="#") Читать

			//- a.content-article__link_mobile.link_border(href="#") Читать

		.article__swiper.swiper
			.article__swiper-wrapper.swiper-wrapper 
				.article__swiper-slide.swiper-slide 
					.article__swiper-slide__img
						img(src="img/img2.jpg" alt="alt")
					.article__swiper-slide__content
						.article__swiper-slide__title.
							Нацпроект 
						.article__swiper-slide__text.
							Безопасные и качественные автомобильные дороги

				.article__swiper-slide.swiper-slide 
					.article__swiper-slide__img
						img(src="img/img1.jpg" alt="alt")
					.article__swiper-slide__content
						.article__swiper-slide__title.
							Спорт 
						.article__swiper-slide__text.
							Безопасные и качественные автомобильные дороги

				.article__swiper-slide.swiper-slide 
					.article__swiper-slide__img
						img(src="img/img2.jpg" alt="alt")
					.article__swiper-slide__content
						.article__swiper-slide__title.
							Нацпроект 
						.article__swiper-slide__text.
							Безопасные и качественные автомобильные дороги

				.article__swiper-slide.swiper-slide 
					.article__swiper-slide__img
						img(src="img/img1.jpg" alt="alt")
					.article__swiper-slide__content
						.article__swiper-slide__title.
							Спорт 
						.article__swiper-slide__text.
							Безопасные и качественные автомобильные дороги

				.article__swiper-slide.swiper-slide 
					.article__swiper-slide__img
						img(src="img/img1.jpg" alt="alt")
					.article__swiper-slide__content
						.article__swiper-slide__title.
							Спорт 
						.article__swiper-slide__text.
							Безопасные и качественные автомобильные дороги

			.article__swiper-navigation
				.article__swiper-button-next.swiper-button-next
					svg.i-link(width="28" height="28" aria-hidden="true")
						use(xlink:href='img/icons/icons.svg#Link')
				.article__swiper-button-prev.swiper-button-prev
					svg.i-link(width="28" height="28" aria-hidden="true")
						use(xlink:href='img/icons/icons.svg#Link')
			.article__swiper-pagination.swiper-pagination