section.development 
  .development__container._container

    //- h2.development__title.title
    //-   | Вектор <br> развития

    .development__swiper.swiper
      h2.development__title.title
        | Вектор <br> развития
      .development__swiper-wrapper.swiper-wrapper 
        .development__swiper-slide.swiper-slide 
          .development__swiper-slide__img
            img(src="img/img6.jpg" alt="alt")
          time.development__swiper-slide__date.tag(datetime="2021-01-19") 19/01/2021
          a.development__swiper-slide__text(href="#").
            Спортивный центр, доступный для всех жителей города и района метзавода. Бассейн «Сталь» теперь стал муниципальным
          a.development__swiper-slide__icon(href="#") 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')

        .development__swiper-slide.swiper-slide 
          .development__swiper-slide__img
            img(src="img/img6.jpg" alt="alt")
          time.development__swiper-slide__date.tag(datetime="2021-01-19") 19/01/2021
          a.development__swiper-slide__text(href="#").
            Спортивный центр, доступный для всех жителей города и района метзавода. Бассейн «Сталь» теперь стал муниципальным
          a.development__swiper-slide__icon(href="#") 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')

        .development__swiper-slide.swiper-slide 
          .development__swiper-slide__img
            img(src="img/img6.jpg" alt="alt")
          time.development__swiper-slide__date.tag(datetime="2021-01-19") 19/01/2021
          a.development__swiper-slide__text(href="#").
            Спортивный центр, доступный для всех жителей города и района метзавода. Бассейн «Сталь» теперь стал муниципальным
          a.development__swiper-slide__icon(href="#") 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')

        .development__swiper-slide.swiper-slide 
          .development__swiper-slide__img
            img(src="img/img6.jpg" alt="alt")
          time.development__swiper-slide__date.tag(datetime="2021-01-19") 19/01/2021
          a.development__swiper-slide__text(href="#").
            Спортивный центр, доступный для всех жителей города и района метзавода. Бассейн «Сталь» теперь стал муниципальным
          a.development__swiper-slide__icon(href="#") 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')


      .development__swiper-navigation
        .development__swiper-button-next.swiper-button-next
        .development__swiper-button-prev.swiper-button-prev

    a.development__link.link_border(href="#") Больше новостей