footer.footer
  ._container
    .footer__container
      .footer__top
        .footer__socials.socials-footer
          .socials-footer__title
            |Подписывайтесь на нас:
          .socials-footer__icons
            a.socials-footer__link(href="#") 
              svg.i-arrow(width="23px" height="23px" aria-hidden="true")
                use(xlink:href='img/icons/icons.svg#YouTube')
            a.socials-footer__link(href="#") 
              svg.i-arrow(width="23px" height="23px" aria-hidden="true")
                use(xlink:href='img/icons/icons.svg#Facebook')
            a.socials-footer__link(href="#") 
              svg.i-arrow(width="27px" height="27px" aria-hidden="true")
                use(xlink:href='img/icons/icons.svg#Vk')
            a.socials-footer__link(href="#") 
              svg.i-arrow(width="24px" height="24px" aria-hidden="true")
                use(xlink:href='img/icons/icons.svg#Ok')
            a.socials-footer__link(href="#") 
              svg.i-arrow(width="23px" height="23px" aria-hidden="true")
                use(xlink:href='img/icons/icons.svg#Instagram')
      .footer__bottom
        .footer__legal
          .footer__copyright 
            | © 2021 «Златоустовское телевидение»
          a.footer__policy(href="#") 
            | Политика конфиденциальности
        .footer__logo
          svg.i-arrow(width="70" height="20" aria-hidden="true")
            use(xlink:href='img/icons/icons.svg#LogoFooter')
