header.header
	.header__container._container
		.header__top
			button.header__burger-btn.burger-btn(data-burger='' aria-label='Открыть меню' aria-expanded='false')
				span.burger-btn__line
			a.header__link-add(href="#") Предложить новость
			.header__logo

				a.header__logo-link(href="#")
					svg.i-logo(width="214px" height="48px" aria-hidden="true")
						use(xlink:href='img/icons/icons.svg#Logo')
			a.header__link-tel(href="tel:+8 (3513) 65-17-11") 8 (3513) 65-17-11
			button.header__search
				svg.i-search(width="18px" height="18px" aria-hidden="true")
					use(xlink:href='img/icons/icons.svg#Search')

		.header__bottom 
			nav.header__menu.menu
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Новости
					li.menu__item
						a.menu__link(href="#") Телепроекты
					li.menu__item
						a.menu__link(href="#") Реклама
					li.menu__item.menu__item_dropdown
						.menu__link(tabindex="0") Онлайн 
							svg.i-arrow(width="11px" height="7px" aria-hidden="true")
								use(xlink:href='img/icons/icons.svg#Arrow')
						ul.sub-menu__list
							li.sub-menu__item
								a.sub-menu__link(href='#') Онлайн
							li.sub-menu__item
								a.sub-menu__link(href='#') Реклама
							li.sub-menu__item
								a.sub-menu__link(href='#') Все новости
							li.sub-menu__item
								a.sub-menu__link(href='#') Свежие новости
					li.menu__item
						a.menu__link(href="#") Программа передач
					li.menu__item.menu__item_dropdown
						.menu__link(tabindex="0") Еще
							svg.i-arrow(width="11px" height="7px" aria-hidden="true")
								use(xlink:href='img/icons/icons.svg#Arrow')
						ul.sub-menu__list
							li.sub-menu__item
								a.sub-menu__link(href='#') Онлайн
							li.sub-menu__item
								a.sub-menu__link(href='#') Реклама
							li.sub-menu__item
								a.sub-menu__link(href='#') Все новости
							li.sub-menu__item
								a.sub-menu__link(href='#') Свежие новости

			.header__subscribe.subscribe-header
				.subscribe-header__title
					|Подписывайтесь на нас:
				.subscribe-header__icons.icons-socials
					a.subscribe-header__link.icons-socials__link(href="#") 
						svg.i-arrow(width="15px" height="16px" aria-hidden="true")
							use(xlink:href='img/icons/icons.svg#YouTube')
					a.subscribe-header__link.icons-socials__link(href="#") 
						svg.i-arrow(width="16px" height="16px" aria-hidden="true")
							use(xlink:href='img/icons/icons.svg#Facebook')
					a.subscribe-header__link.icons-socials__link(href="#") 
						svg.i-arrow(width="19px" height="18px" aria-hidden="true")
							use(xlink:href='img/icons/icons.svg#Vk')
					a.subscribe-header__link.icons-socials__link(href="#") 
						svg.i-arrow(width="16px" height="16px" aria-hidden="true")
							use(xlink:href='img/icons/icons.svg#Ok')
					a.subscribe-header__link.icons-socials__link(href="#") 
						svg.i-arrow(width="16px" height="16px" aria-hidden="true")
							use(xlink:href='img/icons/icons.svg#Instagram')


		.header__burger.header-burger(data-menu='')
			.header-burger__bottom 
				nav.header-burger__menu.menu-burger
					ul.menu-burger__list
						li.menu-burger__item
							a.menu-burger__link(href="#") Новости
						li.menu-burger__item
							a.menu-burger__link(href="#") Телепроекты
						li.menu-burger__item
							a.menu-burger__link(href="#") Реклама
						li.menu-burger__item.menu-burger__item_dropdown
							.menu-burger__link Онлайн 
								svg.i-arrow(width="11px" height="7px" aria-hidden="true")
									use(xlink:href='img/icons/icons.svg#Arrow')
							ul.sub-menu-burger__list
								li.sub-menu-burger__item
									a.sub-menu-burger__link(href='#') Онлайн
								li.sub-menu-burger__item
									a.sub-menu-burger__link(href='#') Реклама
								li.sub-menu-burger__item
									a.sub-menu-burger__link(href='#') Все новости
								li.sub-menu-burger__item
									a.sub-menu-burger__link(href='#') Свежие новости
						li.menu-burger__item
							a.menu-burger__link(href="#") Программа передач
						li.menu-burger__item.menu-burger__item_dropdown
							.menu-burger__link Еще
								svg.i-arrow(width="11px" height="7px" aria-hidden="true")
									use(xlink:href='img/icons/icons.svg#Arrow')
							ul.sub-menu-burger__list
								li.sub-menu-burger__item
									a.sub-menu-burger__link(href='#') Онлайн
								li.sub-menu-burger__item
									a.sub-menu-burger__link(href='#') Реклама
								li.sub-menu-burger__item
									a.sub-menu-burger__link(href='#') Все новости
								li.sub-menu-burger__item
									a.sub-menu-burger__link(href='#') Свежие новости
							ul.sub-menu__list
								li.sub-menu__item
									a.sub-menu__link(href='#') Онлайн
								li.sub-menu__item
									a.sub-menu__link(href='#') Реклама
								li.sub-menu__item
									a.sub-menu__link(href='#') Все новости
								li.sub-menu__item
									a.sub-menu__link(href='#') Свежие новости
				.header-burger__top
					a.header-burger__link-tel(href="tel:+8 (3513) 65-17-11") 8 (3513) 65-17-11
					a.header-burger__link-add(href="#") Предложить новость
				.header-burger__subscribe.subscribe-burger
					.subscribe-burger__title
						|Подписывайтесь на нас:
					.subscribe-burger__icons.icons-socials
						a.subscribe-burger__link.icons-socials__link(href="#") 
							svg.i-arrow(width="20px" height="21px" aria-hidden="true")
								use(xlink:href='img/icons/icons.svg#YouTube')
						a.subscribe-burger__link.icons-socials__link(href="#") 
							svg.i-arrow(width="21px" height="21px" aria-hidden="true")
								use(xlink:href='img/icons/icons.svg#Facebook')
						a.subscribe-burger__link.icons-socials__link(href="#") 
							svg.i-arrow(width="25px" height="24px" aria-hidden="true")
								use(xlink:href='img/icons/icons.svg#Vk')
						a.subscribe-burger__link.icons-socials__link(href="#") 
							svg.i-arrow(width="21px" height="21px" aria-hidden="true")
								use(xlink:href='img/icons/icons.svg#Ok')
						a.subscribe-burger__link.icons-socials__link(href="#") 
							svg.i-arrow(width="21px" height="21px" aria-hidden="true")
								use(xlink:href='img/icons/icons.svg#Instagram')
