section.hot-news
  ._container 
    .hot-news__container
      .hot-news__inner
        h2.hot-news__title.title.
          Свежие <br> новости
        a.hot-news__link.link_border(href="#")  Все новости
      .hot-news__items
        article.hot-news__item.item-hot-news
          img.item-hot-news__img(src="img/img4.jpg" alt="")
          .item-hot-news__inner
            a.item-hot-news__tag.tag(href="#")  Коммуналка
            time.item-hot-news__date.date(datetime="2021-02-01") 02/01/2021
          a.item-hot-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          a.item-hot-news__icon(href="#") 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')

        article.hot-news__item.item-hot-news
          img.item-hot-news__img(src="img/img4.jpg" alt="")
          .item-hot-news__inner
            a.item-hot-news__tag.tag(href="#")  Коммуналка
            time.item-hot-news__date.date(datetime="2021-02-01") 02/01/2021
          a.item-hot-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          a.item-hot-news__icon(href="#") 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')

        article.hot-news__item.item-hot-news
          img.item-hot-news__img(src="img/img4.jpg" alt="")
          .item-hot-news__inner
            a.item-hot-news__tag.tag(href="#")  Коммуналка
            time.item-hot-news__date.date(datetime="2021-02-01") 02/01/2021
          a.item-hot-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          a.item-hot-news__icon(href="#") 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')

        article.hot-news__item.item-hot-news
          img.item-hot-news__img(src="img/img4.jpg" alt="")
          .item-hot-news__inner
            a.item-hot-news__tag.tag(href="#")  Коммуналка
            time.item-hot-news__date.date(datetime="2021-02-01") 02/01/2021
          a.item-hot-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          a.item-hot-news__icon(href="#") 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')

        article.hot-news__item.item-hot-news
          img.item-hot-news__img(src="img/img4.jpg" alt="")
          .item-hot-news__inner
            a.item-hot-news__tag.tag(href="#")  Коммуналка
            time.item-hot-news__date.date(datetime="2021-02-01") 02/01/2021
          a.item-hot-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          a.item-hot-news__icon(href="#") 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')

        article.hot-news__item.item-hot-news
          img.item-hot-news__img(src="img/img4.jpg" alt="")
          .item-hot-news__inner
            a.item-hot-news__tag.tag(href="#")  Коммуналка
            time.item-hot-news__date.date(datetime="2021-02-01") 02/01/2021
          a.item-hot-news__lead.lead(href="#") Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          a.item-hot-news__icon(href="#") 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')


      a.hot-news__link.hot-news__link_bottom.link_border(href="#")  Все новости

      .hot-news__banner
        svg.i-banner(width="543" height="122" aria-hidden="true")
          use(xlink:href='img/icons/icons.svg#Banner')

        //- .hot-news__line.line
