section.news
  ._container 
    .news__container
      .news__inner
        h1.news__title.title.
          Свежие <br> новости
        a.news__link.link_border(href="#")  Все новости
      .news__items
        article.news__item.item-news
          .item-news__img
            img(src="img/img4.jpg" alt="")
          .item-news__inner
            .item-news__tag.tag Коммуналка
            time.item-news__date.date(datetime="2021-02-01") 02/01/2021
          .item-news__text Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          .item-news__icon 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')
        article.news__item.item-news
          .item-news__img
            img(src="img/img4.jpg" alt="")
          .item-news__inner
            .item-news__tag.tag Коммуналка
            time.item-news__date.date(datetime="2021-02-01") 02/01/2021
          .item-news__text Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          .item-news__icon 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')

        article.news__item.item-news
          .item-news__img
            img(src="img/img4.jpg" alt="")
          .item-news__inner
            .item-news__tag.tag Коммуналка
            time.item-news__date.date(datetime="2021-02-01") 02/01/2021
          .item-news__text Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          .item-news__icon 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')
        article.news__item.item-news
          .item-news__img
            img(src="img/img4.jpg" alt="")
          .item-news__inner
            .item-news__tag.tag Коммуналка
            time.item-news__date.date(datetime="2021-02-01") 02/01/2021
          .item-news__text Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          .item-news__icon 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')
        article.news__item.item-news
          .item-news__img
            img(src="img/img4.jpg" alt="")
          .item-news__inner
            .item-news__tag.tag Коммуналка
            time.item-news__date.date(datetime="2021-02-01") 02/01/2021
          .item-news__text Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          .item-news__icon 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')
        article.news__item.item-news
          .item-news__img
            img(src="img/img4.jpg" alt="")
          .item-news__inner
            .item-news__tag.tag Коммуналка
            time.item-news__date.date(datetime="2021-02-01") 02/01/2021
          .item-news__text Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          .item-news__icon 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')
        article.news__item.item-news
          .item-news__img
            img(src="img/img4.jpg" alt="")
          .item-news__inner
            .item-news__tag.tag Коммуналка
            time.item-news__date.date(datetime="2021-02-01") 02/01/2021
          .item-news__text Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          .item-news__icon 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')
        article.news__item.item-news
          .item-news__img
            img(src="img/img4.jpg" alt="")
          .item-news__inner
            .item-news__tag.tag Коммуналка
            time.item-news__date.date(datetime="2021-02-01") 02/01/2021
          .item-news__text Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          .item-news__icon 
            svg.i-link(width="28" height="28" aria-hidden="true")
              use(xlink:href='img/icons/icons.svg#Link')

      .news__banner
        svg.i-banner(width="543" height="122" aria-hidden="true")
          use(xlink:href='img/icons/icons.svg#Banner')

        //- .news__line.line
