// $main-color: #DC911B;
// $main-colorGray: #3E3E3D;
// $hoverColor: #BAA174;

// $fontSize: 14px;

// $lineHeight: 24px;

// $max-width: 1503;

@import "variables.scss";

$maxWidth: 1503;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

// $letterSpacing: 1%;  

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0px 24px;
  box-sizing: content-box;
}

._container--964 {
  max-width: 964px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.sticky {
  margin-top: 0;
  margin-bottom: 0;
}

a:hover {
  // color: $red;
  transition: 0.2s;
}

.page {
  flex: 1 1 auto;
}

.title {
  font-family: $main-font;
  font-size: 100px;
  line-height: 90%;
  // text-transform: uppercase;
  font-size: 100px;
  // @include adaptiv-font(100, 40);
}

.video {
  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(2px);
    width: 13.77%;
    padding-bottom: 13.77%;
    // height: 24.59%;
    // opacity: 0.65;
    border-radius: 50%;
    z-index: 1;
  }

  &__btn svg {
    position: absolute;
    top: 50%;
    width: 28%;
    height: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $main-color;
  }
}

.lead {
  line-height: 135%;
}

.i-link:hover {
  color: $red;
}

@media (max-width: 1503px) {
  .title {
    @include adaptiv-font(100, 40);
  }
}

@media (max-width: 1503px) {
  .lead {
    @include adaptiv-font(20, 16);
  }

  .breadcrumbs {
    @include adaptiv-font(16, 12);
  }
}

.breadcrumbs {
  // margin-bottom: 30px;
  color: $gray-date;

  &__list {
    display: flex;
    // flex-wrap: wrap;

  }

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:not(:first-child)::before {
      content: "/";
      margin-right: 3px;
      color: #ccc;
    }

    // &:first-child::before {
    //   content: "";
    //   margin-right: 0;
    // }
  }

  &__link {

    &:hover {
      color: $red;
    }

    &--active {
      pointer-events: none;
    }
  }
}

.link_border {
  display: inline-block;
  padding: 15px 25px;
  text-align: center;
  border: 1px solid $main-color;
  border-radius: 57px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $red;
    border: 1px solid $red;
  }
}

// .card-news {
//   display: grid;
//   grid-auto-flow: row;
//   grid-template: auto auto 1fr minmax(40px, auto) / 1fr;

//   &__img {
//     width: 100%;
//     height: 100%;
//     padding-bottom: 35px;
//     object-fit: cover;
//   }

//   // .item-all-news__inner
//   &__inner {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-self: start;
//     margin-bottom: 12px;
//   }

//   // .item-all-news__tag
//   &__tag {
//     margin-right: 39px;
//   }

//   // .item-all-news__date
//   &__date {}

//   // .item-all-news__text
//   &__text {
//     margin-bottom: 47px;
//     // grid-area: text;
//     // font-size: 20px;
//     // @include adaptiv-font(20, 16);
//   }

//   &__lead {
//     margin-bottom: 47px;
//     // grid-area: lead;
//     // font-size: 20px;
//     // @include adaptiv-font(20, 16);
//   }

//   // .item-all-news__icon
//   &__icon {
//     max-width: max-content;
//     // justify-self: end;
//     // grid-area: icon;
//   }
// }

.news-card {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto auto 1fr minmax(40px, auto) / 1fr;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 20px;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
  }

  &__tag {
    margin-right: 39px;
  }

  &__date {}

  &__lead {
    margin-bottom: 47px;

    &:hover {
      color: $red;
    }
  }

  &__icon {
    max-width: max-content;

    &:hover {
      color: $red;
    }
  }
}

.icons-socials {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  flex-wrap: nowrap;
  height: max-content;

  &__link {
    display: inline-block;
  }

  &__link:not(:last-child) {
    margin-right: 16px;
  }

  &__link svg {
    transition: 0.2s ease-in-out;
  }

  &__link svg:hover {
    color: $red;
    scale: (1.5);
  }
}

.tag {
  color: $red;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
}


@media(max-width: 768px) {
  .tag {
    font-size: 12px;
    line-height: 133%;
  }
}


.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 115%;
  color: $gray-date;
}

.line {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  // background: $main-color;
  background: red;
}

@media(max-width: 768px) {
  .news-card {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto auto 1fr / 1fr;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding-bottom: 20px;
    }

    &__inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 12px;
    }

    &__tag {
      margin-right: 39px;
    }

    &__date {}

    &__lead {
      margin-bottom: 0;
    }

    &__icon {
      display: none;
    }
  }
}

// .swiper {
//   width: 420px;
//   height: 341px;
//   border: 1px solid black;
// }

.swiper-pagination-bullet {
  position: relative;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background: none;
  border: 1px solid #fff;
}



.swiper-pagination-bullet-active {
  display: inline-block;
  // margin: 3px; 
  // background: $main-color;
  opacity: 1;
  border: 1px solid $gray;
}

.swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: $main-color;
  // opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bulletP {
  margin: 0;
}

.stop--scroll {
  overflow: hidden;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

// $max-width: 1230;

// @mixin adaptiv-font($pcSize, $mobSize) {
//   $addSize: $pcSize - $mobSize;
//   $addMobSize: $addSize + $addSize * 0.7;

//   @media (max-width: 767px) {
//     font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$max-width}));
//   }

//   @media (min-width: 767px) {
//     font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$max-width}));
//   }
// }