.header {

  // .header__container
  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
  }

  // .header__top
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 59px;
  }

  // .heder__link-add
  &__link-add {
    font-size: 16px;
    padding: 16px 31px;
    color: $red;
    border: 2px solid $red;
    border-radius: 56px;
    transition: all 0.3s ease-in-out;
  }

  &__link-add:hover {
    color: $main-color;
    border-color: $main-color;
  }

  // .header__logo
  &__logo {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
  }

  // .header__link-tel
  &__link-tel {
    position: relative;
    transition: 0.2s ease-in-out;
  }

  &__link-tel::after {
    content: '';
    width: 0px;
    height: 1.5px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: $red;
    transition: 0.2s ease-in-out;
  }

  &__link-tel:hover {
    color: $red;

    // text-decoration: underline;
  }

  &__link-tel:hover::after {
    color: $red;
    width: 100%;
    // text-decoration: underline;
  }

  // .header__search
  &__search {
    height: 18px;
    margin-left: 44px;
  }

  // .header__bottom
  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 4px solid $main-color;
  }

  // .header__menu
  &__menu {
    display: flex;
    // justify-content: space-between;
    max-width: 867px;
    width: 100%;
  }

  // .header__subscribe
  &__subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 497px;
    width: 100%;
  }
}



.i-logo {}

.i-search {}

.menu {

  // .menu__list
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  // .menu__item
  &__item {
    transition: color 0.01s ease-in;
  }

  &__item:hover {
    color: $red;
  }

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__item_dropdown svg {
    transition: rotate 0.3s ease-in-out;
  }

  &__item_dropdown:hover svg {
    rotate: (-180deg);
  }

  // .menu__link
  &__link {}
}

.i-arrow {}

.subscribe-header {

  // .subscribe-header__title
  &__title {
    margin: 0 28px 0 70px;
  }

  &__link {
    display: inline-block;
  }

  &__link:not(:last-child) {
    margin-right: 16px;
  }

  &__link svg {
    transition: 0.2s ease-in-out;
  }

  &__link svg:hover {
    color: $red;
    scale: (1.5);
  }

  // .subscribe-header__icons
  &__icons {}
}