@import "fonts.scss";

$body-bg-color: #fff;
$bg-black: #292929;
$blue-first: #00AAFF;
$blue-second: #009CF0;
$red: #9F0023;
$gray: #8F8F8F;
$main-color: #373334;

$main-font: Roboto;

$font-size: 20px;

$line-height: 27px;

$max-width: 1503px;