@import "fonts.scss";

$body-bg-color: #F2F2F2;
$bg-black: #292929;
$red: #9F0023;
$gray: #D2D2D2;
$gray-date: #959595;
$main-color: #373334;

$main-font: Roboto;

$font-size: 20px;

$line-height: 27px;

$max-width: 1533px;