@import "fonts.scss";

$body-bg-color: #fff;
$bg-black: #292929;
$blue-first: #00AAFF;
$blue-second: #009CF0;
$red: #FE6163;
$gray: #8F8F8F;
$main-color: #000;

$main-font: Roboto;

$font-size: 57px;

$line-height: 24px;

$max-width: 1503;